.favorites-img {
  background-image: url(/src/images/favorite-mob.jpg);
  background-size: contain;
  height: 526px;
  width: 335px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 40px;
  margin-top: 50px;
}
.food-type-list {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  overflow: overlay;
  .empty-meal {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    padding: 14px 18px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 15px;
    background-color: white;
    color: rgba(5, 5, 5, 0.5);
    font-size: 18px;
    white-space: nowrap;
    transition: background-color 300ms linear;
  }

  // .favorites-icon {
  //   display: inline-flex;
  //   width: 97px;
  //   height: 83px;
  //   margin-bottom: 32px;
  // }
}
.favorites-txt {
  width: 335px;
  height: 72px;
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #9bb537;
  color: white;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .favorites-txt {
    width: 471px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
  }
  .favorites-img {
    margin-top: 44px;
    background-image: url(/src/images/favorite-tab.jpg);
    height: 356px;
    width: 704px;
    margin-bottom: 64px;
    .food-type-list {
      margin-bottom: 32px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .favorites-img {
    margin-top: 34px;
    background-image: url(/src/images/favorite-pc.jpg);
    width: 1080px;
  }
}
