.favorites-img {
  background-image: url(/src/images/favorite-mob.jpg);
  background-size: contain;
  height: 526px;
  width: 335px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 40px;
}
.food-type-list {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  overflow-x: auto;
  .btn {
    padding: 14px 18px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 15px;
    background-color: white;
    color: rgba(5, 5, 5, 0.5);
    font-size: 18px;

    white-space: nowrap;
  }
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #9bb537;
  color: white;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .favorites-img {
    background-image: url(/src/images/favorite-tab.jpg);
    height: 356px;
    width: 704px;
    margin-bottom: 64px;
    .food-type-list {
      margin-bottom: 32px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .favorites-img {
    background-image: url(/src/images/favorite-pc.jpg);
    width: 1080px;
  }
}
