// ----------Light Theme colors-----------
$primaryWhite: #ffffff;
$primaryTextColor: #050505;
$borderColor: rgba(5, 5, 5, 0.2);
$categoriesTextColor: #05050530;
$placeholderTextColor: #05050550;
$descrTextColor: #05050580;

// --------Dark Theme colors------------
$darkThemePrimaryTextColor: #ffffff;
$darkThemeBorderColor: #ffffff20;
$inputAndSelectColor: #ffffff30;
$darkThemePlaceholderTextColor: #ffffff50;
$darkThemeDescrTextColor: #ffffff80;

// -------Common colors---------
$starsColor: #eea10c;
$accentColor: #9bb537;
