// ----------Light Theme colors-----------
$primaryTextColor: #050505;
$categoriesTextColor: #05050530;
$placeholderTextColor: #05050550;
$descrTextColor: #05050580;

// --------Dark Theme colors------------
$primaryTextColor: #ffffff;
$borderColor: #ffffff20;
$inputAndSelectColor: #ffffff30;
$placeholderTextColor: #ffffff50;
$descrTextColor: #ffffff80;

// -------Common colors---------
$starsColor: #eea10c;
$accentColor: #9bb537;
