<div class="main-container ">
  <div class="side-bar">
    <div class="categories">
      <button class="all-categories-button js-btn-all-categories" type="button">
        All categories
      </button>
      <ul class="js-categories"></ul>
    </div>
  </div>

  <!-- <div class="cards-and-search-container">
    <div class="search">
      <ul>
        <li>
          <p>Search</p>
          <input type="text" />
        </li>

        <li>
          <p>Time</p>
          <select name="time" id="time">
            <option value="40">40 min</option>
            <option value="40">40 min</option>
            <option value="40">40 min</option>
            <option value="40">40 min</option>
          </select>
        </li>

        <li>
          <p>Area</p>
          <select name="area" id="area">
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
          </select>
        </li>
        <li>
          <p>Ingredients</p>
          <select name="ingredients" id="ingredients">
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
          </select>
        </li>
      </ul>
      <button type="button" class="reset-filter-button">
        Reset the filter
      </button>
    </div>
    <div class="cards-and-pagination-container">
      <div class="gallery-container">
        <ul class="list-of-cards">
          <li>
            <div class="icon-heart">
              <svg height="16px" id="icon-heart" viewBox="0 0 36 32">
                <path
                  d="M17.767 4.814c-3.258-3.809-8.691-4.834-12.774-1.346s-4.657 9.32-1.451 13.445c2.665 3.43 10.732 10.664 13.376 13.005 0.296 0.262 0.444 0.393 0.616 0.444 0.151 0.045 0.315 0.045 0.466 0 0.173-0.052 0.321-0.183 0.616-0.444 2.644-2.341 10.71-9.575 13.376-13.005 3.206-4.125 2.701-9.994-1.451-13.445s-9.516-2.463-12.774 1.346z"
                ></path>
              </svg>
            </div>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
            <div class="description-rating-container">
              <p>Boxy breakfast</p>
              <span
                >Boxty breakfast is a hearty Irish morning meal that features
                boxty, a</span
              >
              <div class="rating">
                <p class="number">4.5</p>
                <div>
                  <ul>
                    <li height="16px">
                      <svg height="14px" viewBox="0 0 32 32" fill="#EEA10C">
                        <path
                          d="M13.826 3.262c0.684-2.106 3.663-2.106 4.348 0l1.932 5.945c0.306 0.942 1.184 1.579 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674c-0.801 0.582-1.136 1.614-0.83 2.556l1.931 5.945c0.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674c-0.801-0.582-1.886-0.582-2.687 0l-5.057 3.674c-1.791 1.302-4.202-0.45-3.517-2.555l1.932-5.945c0.306-0.942-0.029-1.973-0.83-2.556l-5.057-3.674c-1.791-1.302-0.871-4.135 1.344-4.135h6.251c0.99 0 1.868-0.638 2.174-1.579l1.932-5.945z"
                        ></path>
                      </svg>
                    </li>
                    <li height="16px">
                      <svg height="14px" viewBox="0 0 32 32" fill="#EEA10C">
                        <path
                          d="M13.826 3.262c0.684-2.106 3.663-2.106 4.348 0l1.932 5.945c0.306 0.942 1.184 1.579 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674c-0.801 0.582-1.136 1.614-0.83 2.556l1.931 5.945c0.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674c-0.801-0.582-1.886-0.582-2.687 0l-5.057 3.674c-1.791 1.302-4.202-0.45-3.517-2.555l1.932-5.945c0.306-0.942-0.029-1.973-0.83-2.556l-5.057-3.674c-1.791-1.302-0.871-4.135 1.344-4.135h6.251c0.99 0 1.868-0.638 2.174-1.579l1.932-5.945z"
                        ></path>
                      </svg>
                    </li>
                    <li height="16px">
                      <svg height="14px" viewBox="0 0 32 32" fill="#EEA10C">
                        <path
                          d="M13.826 3.262c0.684-2.106 3.663-2.106 4.348 0l1.932 5.945c0.306 0.942 1.184 1.579 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674c-0.801 0.582-1.136 1.614-0.83 2.556l1.931 5.945c0.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674c-0.801-0.582-1.886-0.582-2.687 0l-5.057 3.674c-1.791 1.302-4.202-0.45-3.517-2.555l1.932-5.945c0.306-0.942-0.029-1.973-0.83-2.556l-5.057-3.674c-1.791-1.302-0.871-4.135 1.344-4.135h6.251c0.99 0 1.868-0.638 2.174-1.579l1.932-5.945z"
                        ></path>
                      </svg>
                    </li>
                    <li height="16px">
                      <svg height="14px" viewBox="0 0 32 32" fill="#EEA10C">
                        <path
                          d="M13.826 3.262c0.684-2.106 3.663-2.106 4.348 0l1.932 5.945c0.306 0.942 1.184 1.579 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674c-0.801 0.582-1.136 1.614-0.83 2.556l1.931 5.945c0.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674c-0.801-0.582-1.886-0.582-2.687 0l-5.057 3.674c-1.791 1.302-4.202-0.45-3.517-2.555l1.932-5.945c0.306-0.942-0.029-1.973-0.83-2.556l-5.057-3.674c-1.791-1.302-0.871-4.135 1.344-4.135h6.251c0.99 0 1.868-0.638 2.174-1.579l1.932-5.945z"
                        ></path>
                      </svg>
                    </li>
                    <li height="16px">
                      <svg height="14px" viewBox="0 0 32 32" fill="#EEA10C">
                        <path
                          d="M13.826 3.262c0.684-2.106 3.663-2.106 4.348 0l1.932 5.945c0.306 0.942 1.184 1.579 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674c-0.801 0.582-1.136 1.614-0.83 2.556l1.931 5.945c0.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674c-0.801-0.582-1.886-0.582-2.687 0l-5.057 3.674c-1.791 1.302-4.202-0.45-3.517-2.555l1.932-5.945c0.306-0.942-0.029-1.973-0.83-2.556l-5.057-3.674c-1.791-1.302-0.871-4.135 1.344-4.135h6.251c0.99 0 1.868-0.638 2.174-1.579l1.932-5.945z"
                        ></path>
                      </svg>
                    </li>
                  </ul>
                  <button class="see-recipe-button" type="button">
                    See recipe
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div> -->
  <!-- <div class="pagination" id="pagination"> -->
  <!-- <button class="to-start-button"><<</button>
        <button class="back-by-one-button"><</button>
        <ul>
          <li class=""><button class="page">1</button></li>
          <li class=""><button class="page">1</button></li>
          <li class=""><button class="page">1</button></li>
          <li class="more-pages"><button class="page">...</button></li>
        </ul>
        <button class="go-by-one-button">></button>
        <button class="to-end-button">>></button> -->
  <!-- </div>
    </div>
  </div>
</div> -->
  <!-- </div> -->
  <!-- </ul>
    </div>
  </div>
</div> -->
</div>
