<div class="container">
  <div class="filter-wrap">
    <label class="filters-top-text" for="searchInput">Search</label>
    <input
      class="filters-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Enter text"
      id="searchInput"
    />
  </div>
  <ul class="filters-select-list">
    <div class="filters-select-wrap">
      <li class="filters-select-item">
        <label class="filters-top-text" for="select1">Time</label>
        <select class="filters-select" id="select1">
          0 min
        </select>
      </li>
      <li class="filters-select-item">
        <label class="filters-top-text" for="select2">Area</label
        ><select class="filters-select" id="select2">
          Region
        </select>
      </li>
    </div>
    <li class="filters-select-item">
      <label class="filters-top-text" for="select3">Ingredients</label
      ><select class="filters-select" id="select3">
        Product
      </select>
    </li>
  </ul>
  <button type="button" class="filter-reset-btn">Reset the filter</button>
</div>
