<footer class="footer">
    <div class="container">
         <div class="foot-nav-btns">
            <ul class="nav-list">
                <li class="nav-link"> <a class="nav-li-deep" href="./index.html">Home</a> </li>
                <li class="nav-link"> <a class="nav-li-deep" href="./favorites.html">Favourites</a> </li>
            </ul>
            <p class="slogan"> <a href="./index.html"><span class="logo-btn">tasty<span class="logo-btn2">treats </span></span></a> for lazy cats</p>
         </div>
         <div class="contacts-block">
            <h3 class="contacts">Our contacts</h3>
            <ul class="contacts-list"> 
                <li class="contact-li" > <a href=""> <svg class="modal-icon" width="18" height="24"> <use></use>
                </svg> </a> </li>
                <li class="contact-li"> <a href=""> <svg class="modal-icon" width="18" height="24"> <use></use> </svg> </a> </li>   
                <li class="contact-li"> <a href=""> <svg class="modal-icon" width="18" height="24"> <use></use> </svg> </a> </li>
                <li class="contact-li"> <a href=""> <svg class="modal-icon" width="18" height="24"> <use></use> </svg> </a> </li> 
            </ul>
         </div>
         <div class="sub-block">
            <form action="" class="sub-form">
                <p class="sub-text">Subscribe</p>
                <input clastype="email" name="email" placeholder="E-mail">
                <button class="sub-btn">Subscribe</button>
                
            </form>
         </div>
        <p class="final-text">Created by GOre ITishniki</p>
    </div>
    </footer>