<footer class="footer">
  <div class="container">
    <button class="scroll-to-the-top" type="button">Scroll to the top</button>
    <div class="foot-nav-btns">
      <ul class="nav-list">
        <li class="nav-link">
          <a class="nav-li-deep" href="./index.html">Home</a>
        </li>
        <li class="nav-link">
          <a class="nav-li-deep" href="./favorites.html">Favourites</a>
        </li>
      </ul>
      <p class="slogan">
        <a href="./index.html"
          ><span class="logo-btn"
            >tasty<span class="logo-btn2">treats </span></span
          ></a
        >
        for lovely cats
      </p>
    </div>
    <div class="contacts-block">
      <h3 class="contacts">Our contacts</h3>
      <ul class="contacts-list">
        <li class="contact-li">
          <a href="tel:+380730000000">
            <svg class="modal-icon" width="20" height="24">
              <use href="./images/sprite/sprite.svg#icon-phone"></use>
            </svg>
          </a>
        </li>
        <li class="contact-li">
          <a href="mailto:info@devstudio.com">
            <svg class="modal-icon" width="20" height="24">
              <use href="./images/sprite/sprite.svg#icon-mail2"></use>
            </svg>
          </a>
        </li>
        <li class="contact-li">
          <a href="https://instagram.com/365foodies?igshid=MzRlODBiNWFlZA==">
            <svg class="modal-icon" width="20" height="24">
              <use href="./images/sprite/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contact-li">
          <a href="https://www.facebook.com/MoreRecipess">
            <svg class="modal-icon" width="20" height="24">
              <use href="./images/sprite/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="sub-block">
      <p class="sub-text">Subscribe</p>
      <form action="" class="sub-form">
        <input
          type="email"
          name="email"
          placeholder="E-mail"
          class="footer-form-email-input"
        />
        <button class="sub-btn" type="submit" name="button">Subscribe</button>
      </form>
    </div>
    <p class="final-text">Created by GOre ITishniki</p>
  </div>
</footer>
