<div class="main-container container">
  <div class="side-bar">
    <div class="categories">
      <button class="all-categories-button" type="button">
        All categories
      </button>
      <ul>
        <li>Beef</li>
        <li>Breackfast</li>
        <li>Seafood</li>
        <li>Chiken</li>
        <li>Goat</li>
        <li>Pork</li>
        <li>Beef</li>
        <li>Breackfast</li>
        <li>Seafood</li>
        <li>Chiken</li>
        <li>Goat</li>
        <li>Pork</li>
        <li>Breackfast</li>
        <li>Seafood</li>
        <li>Chiken</li>
        <li>Goat</li>
        <li>Pork</li>
      </ul>
    </div>
  </div>

  <div class="cards-and-search-container">
    <div class="search">
      <ul>
        <li>
          <p>Search</p>
          <input type="text" />
        </li>

        <li>
          <p>Time</p>
          <select name="time" id="time">
            <option value="40">40 min</option>
            <option value="40">40 min</option>
            <option value="40">40 min</option>
            <option value="40">40 min</option>
          </select>
        </li>

        <li>
          <p>Area</p>
          <select name="area" id="area">
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
            <option value="italian">Italian</option>
          </select>
        </li>
        <li>
          <p>Ingredients</p>
          <select name="ingredients" id="ingredients">
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
            <option value="tomato">Tomato</option>
          </select>
        </li>
      </ul>
      <button type="button" class="reset-filter-button">
        Reset the filter
      </button>
    </div>
          <!-- <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li>
          <li>
            <img
              src="/src/images/Spinach_quinoa_patties_01.png"
              alt=""
              width="250px"
              height="287px"
            />
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
