<button id="openModalBtn" class="open-modal-button" data-action="open">
  Open Modal
</button>

<div class="popup-backdrop">
  <div class="modal-wrapper" id="myModal">
    <button class="close-modal-button" data-action="close">
      <svg class="close-modal-button-icon">
        <use href="./images/sprite/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-recipe"></div>
  </div>
  <ul class="modal-recipe-button-list">
    <li class="modal-recipe-button-item">
      <button type="button" class="modal-recipe-add-button modal-recipe-button">
        Add to favorite
      </button>
    </li>
    <li class="modal-recipe-button-item">
      <button
        data-rating-open
        type="button"
        class="modal-recipe-rating-button modal-recipe-button"
      >
        Give rating
      </button>
    </li>
  </ul>
</div>
