<button id="openModalBtn" class="open-modal-button" data-action="open">
  Open Modal
</button>

<div id="myModal" class="modal is-hidden">
  <div class="modal-wrapper">
    <button class="close-modal-button" data-action="close">
      <svg class="close-modal-button-icon">
        <use href="./images/sprite/SPRITE.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-recipe">
      <div class="modal-recipe-name-and-img">
        <h2 class="modal-recipe-name">BANANA PANCAKES</h2>
        <img class="modal-recipe-img" src="./images/pizza.png" alt="example" />
      </div>
      <div class="modal-recipe-info">
        <ul class="modal-recipe-info-tag-list">
          <li class="modal-recipe-info-tag-item">#Breakfast</li>
          <li class="modal-recipe-info-tag-item">#Desert</li>
          <li class="modal-recipe-info-tag-item">#Sweet</li>
        </ul>
        <div class="modal-recipe-info-rating">
          <p class="modal-recipe-info-rating-points">4.5</p>
          <ul class="modal-recipe-info-rating-stars-list">
            <li class="modal-recipe-info-rating-star">
              <svg class="modal-recipe-info-rating-star-svg">
                <use href="./images/sprite/SPRITE.svg#icon-star-rating"></use>
              </svg>
            </li>
            <li class="modal-recipe-info-rating-star">
              <svg class="modal-recipe-info-rating-star-svg">
                <use href="./images/sprite/SPRITE.svg#icon-star-rating"></use>
              </svg>
            </li>
            <li class="modal-recipe-info-rating-star">
              <svg class="modal-recipe-info-rating-star-svg">
                <use href="./images/sprite/SPRITE.svg#icon-star-rating"></use>
              </svg>
            </li>
            <li class="modal-recipe-info-rating-star">
              <svg class="modal-recipe-info-rating-star-svg">
                <use href="./images/sprite/SPRITE.svg#icon-star-rating"></use>
              </svg>
            </li>
            <li class="modal-recipe-info-rating-star">
              <svg class="modal-recipe-info-rating-star-svg">
                <use href="./images/sprite/SPRITE.svg#icon-star-rating"></use>
              </svg>
            </li>
          </ul>
          <p class="modal-recipe-info-cooking-time">40 min</p>
        </div>
      </div>
      <ul class="modal-recipe-ingredient-list">
        <li class="modal-recipe-ingredient-item">
          <p class="modal-recipe-ingredient-item-name">Banana</p>
          <p class="modal-recipe-ingredient-item-quantity">1 large</p>
        </li>
        <li class="modal-recipe-ingredient-item">
          <p class="modal-recipe-ingredient-item-name">Oil</p>
          <p class="modal-recipe-ingredient-item-quantity">2 large</p>
        </li>
        <li class="modal-recipe-ingredient-item">
          <p class="modal-recipe-ingredient-item-name">Eggs</p>
          <p class="modal-recipe-ingredient-item-quantity">1 tsp</p>
        </li>
        <li class="modal-recipe-ingredient-item">
          <p class="modal-recipe-ingredient-item-name">Pecan nuts</p>
          <p class="modal-recipe-ingredient-item-quantity">25 tsp</p>
        </li>
        <li class="modal-recipe-ingredient-item">
          <p class="modal-recipe-ingredient-item-name">Baking Powder</p>
          <p class="modal-recipe-ingredient-item-quantity">Pinch</p>
        </li>
        <li class="modal-recipe-ingredient-item">
          <p class="modal-recipe-ingredient-item-name">Raspberries</p>
          <p class="modal-recipe-ingredient-item-quantity">125 g</p>
        </li>
      </ul>
      <p class="modal-recipe-cooking-description">
        Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
        together until well combined. Add the flour, baking powder, cinnamon (if
        using), and salt, and stir until just combined.Heat a non-stick skillet
        or griddle over medium heat and add the vegetable oil or melted butter.
        Scoop the batter onto the skillet or griddle using a 1/4 cup measure,
        and cook for 2-3 minutes on each side, or until the pancakes are golden
        brown and cooked through. Serve warm with your favorite toppings such as
        maple syrup, sliced bananas, or whipped cream.
      </p>
      <ul class="modal-recipe-button-list">
        <li class="modal-recipe-button-item">
          <button
            type="button"
            class="modal-recipe-add-button modal-recipe-button"
          >
            Add to favorite
          </button>
        </li>
        <li class="modal-recipe-button-item">
          <button
            data-rating-open
            type="button"
            class="modal-recipe-rating-button modal-recipe-button"
          >
            Give rating
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
