/* BADY DARK*/
body.dark-theme {
  background-color: #161616;
}

/* HEADER DARK*/
.dark-theme .header-nav-links {
  color: #fff;
}
.dark-theme .header-nav-links:hover,
.dark-theme .header-nav-links:focus {
  color: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .logo-second {
  color: #ffffff;
}

.dark-theme .header-order-btn {
  background-color: #161616;
}

.dark-theme .shopping-icon-use {
  stroke: #ffffff;
  fill: #161616;
}

.dark-theme .header-order-btn:hover .shopping-icon-use,
.dark-theme .header-order-btn:focus .shopping-icon-use {
  stroke: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .mobile-menu {
  background-color: #050505;
}

.dark-theme .header-list-item:hover,
.dark-theme .header-list-item:focus {
  color: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .mobile-menu-btn {
  background-color: #161616;
}
.dark-theme .mobile-icon {
  stroke: #fff;
}

// order now and rating

.dark-theme .modal-close-icon {
  stroke: #fff;
  background-color: #050505;
  &:hover {
    stroke: #9bb537;
    transition: stroke 0.5s cubic-bezier(0.47, 0.29, 0.84, 1.03);
  }
}

.dark-theme .container-order-modal {
  border-radius: 15px;
  background: #050505;
  color: #050505;
}

.dark-theme .modal-close {
  background-color: #050505;
}

.dark-theme .modal-close {
  background-color: #050505;
}

.dark-theme .modal-order-title {
  color: #fff;
}

.dark-theme .form-text-span {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .form-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #050505;
  color: #fff;
  &:hover {
    transition: border-color 0.5s cubic-bezier(0.47, 0.29, 0.84, 1.03);
    border-color: #6cb0ff;
  }
  &:focus {
    border-color: #6cb0ff;
  }
}

.dark-theme .form-feedback {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #050505;
  color: #fff;
  &:hover {
    transition: border-color 0.5s cubic-bezier(0.47, 0.29, 0.84, 1.03);
    border-color: #6cb0ff;
  }
  &:focus {
    border-color: #6cb0ff;
  }
}

.dark-theme .container-rating-modal {
  background-color: #050505;
}

.dark-theme .modal-rating-title {
  color: #fff;
}

.dark-theme .rating__value {
  color: #fff;
}

/* POP_UP DARK THEME*/
.dark-theme .popup-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .modal-wrapper {
  background: #050505;
}
.dark-theme .close-modal-button-icon,
.dark-theme .close-modal-button-icon {
  stroke: #fff;
}
.dark-theme .modal-recipe-name {
  color: $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-info-tag-item {
  color: $darkThemePrimaryTextColor;
  border: 1px solid $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-info-rating-points {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-info-cooking-time {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-ingredient-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-theme .modal-recipe-ingredient-item-name {
  color: $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-ingredient-item-quantity {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-cooking-description {
  color: rgba(255, 255, 255, 0.8);
}
.dark-theme .modal-recipe-rating-button {
  color: $darkThemePrimaryTextColor;
}

.dark-theme .modal-recipe-add-button {
  color: $darkThemePrimaryTextColor;
}

//hero dark

.dark-theme .hero-heading {
  color: #fff;
}

.dark-theme .hero-text {
  color: #fff;
}

.dark-theme .hero-btn {
  color: #fff;
}

// all categories dark

.dark-theme .side-bar button {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark-theme .side-bar .categories li {
  color: rgba(255, 255, 255, 0.3);
  &:hover {
    color: #9bb537;
  }
}

// popular dark

.dark-theme .popular-recipes-heading {
  color: #fff;
}

.dark-theme .popular-recipes-title {
  color: #fff;
}
.dark-theme .popular-recipes-text {
  color: rgba(255, 255, 255, 0.8);
}

//filter dark

.dark-theme .filters-top-text {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .filters-input {
  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  &:active,
  &:focus {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.dark-theme .filters-icon-search {
  fill: rgba(255, 255, 255, 0.5);
}
