/* BADY DARK*/
body.dark-theme {
    background-color: #161616;
}

/* HEADER DARK*/
.dark-theme .header-nav-links {
    color: #FFF;
}

.dark-theme .logo-second {
    color: #FFFFFF;
}

.dark-theme .header-order-btn {
    background-color: #161616;
}

.dark-theme .shopping-icon-use {
    stroke: #FFFFFF;
    fill: #161616;
}

