/* BADY DARK*/
body.dark-theme {
  background-color: #161616;
}

/* HEADER DARK*/
.dark-theme .header-nav-links {
  color: #fff;
}
.dark-theme .header-nav-links:hover,
.dark-theme .header-nav-links:focus {
  color: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .logo-second {
  color: #ffffff;
}

.dark-theme .header-order-btn {
  background-color: #161616;
}

.dark-theme .shopping-icon-use {
  stroke: #ffffff;
  fill: #161616;
}

.dark-theme .header-order-btn:hover .shopping-icon-use,
.dark-theme .header-order-btn:focus .shopping-icon-use {
  stroke: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .mobile-menu {
  background-color: #050505;
}

.dark-theme .header-list-item:hover,
.dark-theme .header-list-item:focus {
  color: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .mobile-menu-btn {
  background-color: #161616;
}
.dark-theme .mobile-icon {
  stroke: #fff;
}

.dark-theme .is-active {
  color: #9bb537;
}

// order now and rating

.dark-theme .modal-close-icon {
  stroke: #fff;
  background-color: #050505;
  &:hover {
    stroke: #9bb537;
    transition: stroke 0.5s cubic-bezier(0.47, 0.29, 0.84, 1.03);
  }
}

.dark-theme .container-order-modal {
  border-radius: 15px;
  background: #050505;
  color: #050505;
}

.dark-theme .modal-close {
  background-color: #050505;
}

.dark-theme .modal-close {
  background-color: #050505;
}

.dark-theme .modal-order-title {
  color: #fff;
}

.dark-theme .form-text-span {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .form-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #050505;
  color: #fff;
  &:hover {
    transition: border-color 0.5s cubic-bezier(0.47, 0.29, 0.84, 1.03);
    border-color: #6cb0ff;
  }
  &:focus {
    border-color: #6cb0ff;
  }
}

.dark-theme .form-feedback {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #050505;
  color: #fff;
  &:hover {
    transition: border-color 0.5s cubic-bezier(0.47, 0.29, 0.84, 1.03);
    border-color: #6cb0ff;
  }
  &:focus {
    border-color: #6cb0ff;
  }
}

.dark-theme .container-rating-modal {
  background-color: #050505;
}

.dark-theme .modal-rating-title {
  color: #fff;
}

.dark-theme .rating__value {
  color: #fff;
}

/* POP_UP DARK THEME*/
.dark-theme .popup-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .modal-wrapper {
  background: #050505;
}
.dark-theme .close-modal-button-icon,
.dark-theme .close-modal-button-icon {
  stroke: #fff;
}
.dark-theme .modal-recipe-name {
  color: $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-info-tag-item {
  color: $darkThemePrimaryTextColor;
  border: 1px solid $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-info-rating-points {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-info-cooking-time {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-ingredient-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-theme .modal-recipe-ingredient-item-name {
  color: $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-ingredient-item-quantity {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-cooking-description {
  color: rgba(255, 255, 255, 0.8);
}
.dark-theme .modal-recipe-rating-button {
  color: $darkThemePrimaryTextColor;
}
.dark-theme .modal-recipe-info-no-tag-item {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .modal-recipe-add-button {
  color: #050505;
}

//hero dark

.dark-theme .hero-heading {
  color: #fff;
}

.dark-theme .hero-text {
  color: #fff;
}

.dark-theme .hero-btn {
  color: #fff;
}

// all categories dark

.dark-theme .side-bar button {
  color: rgba(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark-theme .side-bar .categories li {
  color: rgba(255, 255, 255);
  &:hover {
    transition: color $cubic-bezier;
    color: #9bb537;
  }
}

// popular dark

.dark-theme .popular-recipes-heading {
  color: #fff;
}

.dark-theme .popular-recipes-title {
  color: #fff;
}
.dark-theme .popular-recipes-text {
  color: rgba(255, 255, 255, 0.8);
}

//filter dark

.dark-theme .filters-top-text {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .filters-input {
  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  &:active,
  &:focus {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.dark-theme .filters-icon-search {
  fill: rgba(255, 255, 255, 0.5);
}

.dark-theme .filters-select {
  background: #161616;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  &:focus,
  &:hover {
    transition: color $cubic-bezier;
    color: #fff;
  }
}

.dark-theme .filter-reset-btn {
  background-color: #161616;
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .select-option {
  background: #050505;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  color: rgba(255, 255, 255, 0.3);
}

// cards dark

// paginaation dark

.dark-theme .pagination .tui-page-btn {
  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  &:hover {
    background-color: #9bb537;
    color: #fff;
  }
}

.dark-theme .pagination .tui-is-selected {
  background-color: #9bb537;
  color: #fff;
}

.dark-theme .pagination .tui-prev,
.dark-theme .pagination .tui-next,
.dark-theme .pagination .tui-first,
.dark-theme .pagination .tui-last {
  color: #ffffff50;
  background-color: #050505;
  border: 0px solid rgba(255, 255, 255, 0.3);
  &:hover {
    transition: background-color $cubic-bezier, color $cubic-bezier;
    color: #050505;
    background-color: #9bb537;
  }
}

//footer dark
.dark-theme .nav-li-deep,
.dark-theme .final-text,
.dark-theme .logo-btn2,
.dark-theme .slogan,
.dark-theme .contacts,
.dark-theme .sub-text,
.dark-theme .sub-btn {
  color: #fff;
}

.dark-theme .modal-icon {
  fill: #fff;
}

.dark-theme .sub-form input {
  background-color: #161616;
  color: #fff;
  border: 1px solid #fff3;
}

.dark-theme .is-active {
  color: #9bb537;
}
