.filters-top-text {
  display: inline-block;
  color: $placeholderTextColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 8px;
}

.filters-select {
  height: 180px;
}

.filters-input-wrap {
  position: relative;
}

.filter {
  margin-bottom: 14px;
}
.filters-input {
  width: 100%;
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  display: inline-block;
  height: 46px;
  padding: 14px 16px 14px 48px;
  border-radius: 15px;
  border: 1px solid $borderColor;
  transition: all $cubic-bezier;
  background-color: transparent;
  transition: all $cubic-bezier;

  ::placeholder {
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    color: $placeholderTextColor;
  }
  :focus {
    border-color: transparent;
  }
}

.filters-input:focus {
  outline: none;
  border-color: $accentColor;
}

.filters-icon-search {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  fill: $placeholderTextColor;
}

.filters-input:focus + .filters-icon-search {
  fill: $accentColor;
}

.filter-wrap {
  height: 68px;
  width: 100%;
}

.filters-select-list {
  display: flex;
  flex-wrap: wrap;

  li:not(:first-child) {
    margin-top: 14px;
  }

  li:nth-child(2) {
    margin-right: 14px;
  }

  li:nth-child(2),
  li:nth-child(3) {
    // margin-top: 14px;
    width: 133px;
  }
}
@media screen and (min-width: 375px) {
  .filter-wrap {
    width: 335px;
  }
  .filters-select-list {
    li:nth-child(2),
    li:nth-child(3) {
      width: 160px;
    }
  }
}

.filters-select-item {
  display: flex;
  flex-direction: column;
}

.filters-select {
  background-color: transparent;
  color: $placeholderTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;

  height: 46px;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid $borderColor;
  :nth-child(3n) {
    display: flex;
    flex-direction: column;
  }
}
.filters-select:focus {
  outline: none;
  border-color: $accentColor;
}

.select-option {
  color: $placeholderTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}
.filter-reset-btn {
  color: $placeholderTextColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.filters-reset-icon {
  stroke: $borderColor;
  margin-right: 4px;
  transform: rotate(0);
  transition: all $cubic-bezier;
}

.filter-reset-btn:hover + .filters-reset-icon,
.filter-reset-btn:focus + .filters-reset-icon {
  stroke: $accentColor;
  transform: rotate(180deg);
}

.filters-select-wrap {
  display: flex;
  margin-bottom: 14px;
  select {
    width: 160px;
  }
}
.button-wrap {
  display: flex;
  // margin-left: auto;
  align-items: center;
  flex-direction: row-reverse;
  // justify-content: flex-end;
  // margin-left: 660px;
}
.filter-container {
  margin-bottom: 20px;
}

.search-container {
  margin-left: 0;
}
.js-select-food {
  width: 188px;
}

@media screen and (min-width: 768px) {
  .cards-and-search-container {
    margin-top: -27px;
  }

  .filter {
    display: flex;
  }

  .filter-wrap {
    width: 278px;
    height: 74;
  }
  .filter-container {
    margin-bottom: 14px;
  }

  .filters-input-wrap {
    height: 48px;
  }

  .filters-top-text {
    font-size: 14px;
    line-height: 1.28;
  }

  .filters-select-wrap {
    flex-wrap: wrap;
  }

  .filters-select-list {
    li:nth-child(2) {
      margin-top: 0;
      margin-right: 0;
      margin-left: 16px;
      width: 125px;
    }

    li:nth-child(3),
    li:nth-child(4) {
      margin-top: 16px;
    }

    li:nth-child(3) {
      width: 140px;
      margin-right: 16px;
    }
  }

  .filter-wrap {
    display: inline-block;
  }

  .filters-input {
    width: 278px;
    height: 48px;
  }

  .filters-select {
    height: 48px;
  }

  .js-select-time {
    width: 125px;
  }
  .js-select-area {
    width: 141px;
  }
  .js-select-food {
    width: 188px;
  }
}

@media screen and (min-width: 1280px) {
  .filter-container {
    > div {
      display: flex;
    }
  }

  .button-wrap {
    display: block;
    margin-left: 660px;
  }

  .cards-and-search-container {
    max-width: 790px;
  }

  .filters-select-list {
    flex-wrap: nowrap;
    gap: 16px;

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .search-container {
    display: flex;
  }
}

.js-select-food {
  width: 188px;
}
