.footer {
  // outline: solid 2px salmon;
  padding-bottom: 15px;

  @media screen and (min-width: 768px) {
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 40px;
  }
}

.nav-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.nav-li-deep:hover,
.nav-li-deep:focus {
  color: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-li-deep {
  color: #050505;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-weight: 500;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 400;
  }
}

.logo-btn {
  color: #9bb537;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.64px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.72px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.72px;
  }
}

.logo-btn2 {
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: -0.64px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }
}

.slogan {
  text-align: center;
  padding-top: 10px;
  // display: flex;
  // justify-content: center;

  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.64px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }
}

.contacts-list {
  display: flex;
  // outline: solid 1px salmon;
}

.contacts-block {
  text-align: center;
  margin-top: 15px;
}
.contacts {
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 116.667% */
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}
.contacts-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.modal-icon {
  border-radius: 7px;
}
.contact-li {
  a {
    display: flex;
    width: auto;
    height: auto;
  }
  .modal-icon:hover,
  .modal-icon:focus {
    background-color: #9bb537;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 7px;
  }
}
.nav-li-deep:hover,
.nav-li-deep:focus {
  color: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-block {
  margin-top: 15px;
  // margin: 0 auto;
}
.sub-text {
  text-align: center;
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 116.667% */
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}
.sub-btn {
  color: #050505;
  border-style: none;
  border-radius: 8px;
  background: #9bb537;
  padding: 8px 24px 8px 24px;
  width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  //    display: flex;
  //   align-items: center;
  //   text-align: center;

  transition-property: background, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:is(:hover, :focus) {
  background: rgba(155, 181, 55, 0.7);
  // cursor: pointer;
}

.sub-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 15px;
  input {
    color: rgba(5, 5, 5, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */

    padding-left: 16px;
    height: 40px;
    width: 264px;
    margin-right: 24px;
    background-color: var(--primary-text-color);
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: rgb(0, 0, 0);
    // border-radius: 4px;
  }
}

.final-text {
  text-align: center;
  margin-top: 15px;

  color: #050505;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-weight: 500;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 400;
  }
}

.is-active {
  color: #9BB537;
}
