/* MAIN */
.header {
  padding-top: 24px;
  @media screen and (min-width: 768px) {
    padding-top: 28px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
  }
}

// .header-container {
//     @media screen and (max-width: 767px) {
//         width: 375px;
//         margin-left: auto;
//         margin-right: auto;
//     }

// }

.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
    position: relative;
  }
}

.header-nav-links {
  color: #050505;
  font-size: 12px;
  font-weight: 500;
  font-size: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-links:hover,
.header-nav-links:focus {
  color: #9bb537;
}

.btn-home {
  margin-right: 16px;
}

.logo-first {
  color: #9bb537;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(18 / 16);
  letter-spacing: -0.64px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(20 / 18);
    letter-spacing: -0.72px;
  }
}

.logo-second {
  color: #050505;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(18 / 16);
  letter-spacing: -0.64px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(20 / 18);
    letter-spacing: -0.72px;
  }
}

.header-items {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.header-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.shopping-icon-use {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-order-btn:hover .shopping-icon-use,
.header-order-btn:focus .shopping-icon-use {
  stroke: #9bb537;
}

.mobile-menu-btn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffff;
  margin-left: 14px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-icon {
  stroke: #050505;
}

.mobile-menu-btn:hover .mobile-icon,
.mobile-menu-btn:focus .mobile-icon {
  stroke: #9bb537;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-switch {
  display: none;
  @media screen and(min-width:768px) {
    position: relative;
    display: flex;
    width: 47px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 7px 5px 15px 0px #a09ea066;
  }
}

.header-switch input {
  display: none;
}

.header-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cecdcd;
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.header-slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: #f8f8f8;
  transition: 0.4s;
  border-radius: 50%;
}

.header-switch input:checked + .header-slider {
  background: linear-gradient(#9bb537, #9bb537);
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.header-switch input:checked + .header-slider:before {
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
  transform: translateX(26px);
}

.shopping-icon-use {
  fill: #f8f8f8;
  stroke: #050505;
}

/* mobile-menu*/

.mobile-menu {
  background-color: #9bb537;
  height: 100%;
  width: 33.33%;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-close-icon {
  stroke: #f8f8f8;
}

.mobile-menu-btn-close .mobile-menu-close {
  transition: transform 0.3s ease-in-out;
}
.mobile-menu-btn-close:hover {
  transform: rotate(45deg);
}
.mobile-menu-btn-close:hover .mobile-menu-close {
  transform: scale(1.2);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 200px;
  padding-bottom: 566px;
}

.header-list-item {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
}

.header-list-item {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
}

.switch {
  position: absolute;
  width: 46px;
  height: 20px;
  bottom: 30px;
  left: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cecdcd;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: #f8f8f8;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: #9bb537;
}

input:checked + .slider:before {
  transform: translateX(26px);
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.is-active {
  color: #9bb537;
}
