$text-color: rgb(5, 5, 5);
$green-color: #9bb537;
$light-text-color: #f8f8f8;

.icon-heart {
  z-index: 1;
  position: absolute;
  cursor: pointer;

  top: 16px;
  right: 16px;
}

// .main-container {
//   display: flex;
//   align-items: center;
// }

// .cards-and-search-container {
//   margin-left: 64px;
// }

.pagination {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  .tui-page-btn {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba($text-color, 0.3);
    border-radius: 50%;
    background-color: #fff;
  }

  .tui-is-selected {
    background-color: #9bb537;
  }

  .tui-page-btn:hover,
  .tui-page-btn:focus {
    background-color: $green-color;
    color: $light-text-color;
    border: 1px solid rgba($green-color, 1);
    cursor: pointer;
  }

  .tui-first-child {
    margin-right: 8px;
  }

  .tui-last-child {
    margin-left: 8px;
    margin-right: 14px;
  }

  .tui-prev,
  .tui-next,
  .tui-first,
  .tui-last {
    width: 40px;
    height: 40px;
    background-color: $green-color;
    color: $text-color;
    border: none;
    border-radius: 50%;
  }

  .tui-prev {
    margin-right: 14px;
  }

  .tui-next {
    margin-right: 4px;
  }

  .tui-prev:hover,
  .tui-prev:focus,
  .tui-next:hover,
  .tui-next:focus,
  .tui-first:hover,
  .tui-first:focus,
  .tui-last:hover,
  .tui-last:focus {
    background-color: $text-color;

    color: rgb(90, 90, 90);
    border-color: $text-color;
  }

  .tui-prev {
    // margin-left: -2px;
    // margin-right: 14px;
  }
  .tui-next {
    // margin-right: -2px;
    // margin-left: 14px;
  }

  .tui-first {
    margin-right: 4px;
  }
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-top: 64px;
    gap: 10px;

    .tui-page-btn {
      width: 44px;
      height: 44px;
    }

    .tui-first {
      margin-right: -2px;
    }
    .tui-prev {
      margin-right: 14px;
    }
    .tui-first-child {
      margin-right: 0px;
    }
    .tui-last-child {
      margin-right: 0px;
      margin-left: 0px;
    }
    .tui-next {
      margin-left: 14px;
      margin-right: 0px;
    }
    .tui-last {
      margin-left: -2px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    padding-left: 340px;
    gap: 10px;
    .tui-first {
      margin-right: 0px;
    }
    .tui-prev {
      margin-right: 14px;
    }
    .tui-first-child {
      margin-right: 0px;
    }
    .tui-last-child {
      margin-right: 14px;
      margin-left: 0px;
    }
    .tui-next {
      margin-right: 0px;
    }
  }

  .tui-last-child {
  }
}
