.popup-backdrop {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $cubic-bezier, visibility $cubic-bezier;
  overflow: hidden;
}

.popup-backdrop.is-visible {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  position: relative;
  margin: 40px auto;
  border-radius: 15px;
  background: $primaryWhite;
  padding: 40px 20px;
  height: 90%;
  max-width: 335px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;

  transform: scale(0.8);
  transition: transform $cubic-bezier;
}

.modal-wrapper::-webkit-scrollbar {
  width: 8px;
}

.modal-wrapper::-webkit-scrollbar-track {
  height: 110%;
  border-radius: 8px;
  background-color: transparent;
}

.modal-wrapper::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $accentColor;
}

.popup-backdrop.is-visible .modal-wrapper {
  transform: scale(1);
}

@media (min-width: 768px) {
  .modal-wrapper {
    width: 531px;
    max-width: 531px;
    padding: 32px;
  }
}

.close-modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: 0;
  line-height: 0;
}

.close-modal-button-icon {
  height: 20px;
  width: 20px;
  stroke: $primaryTextColor;
}

.close-modal-button:hover .close-modal-button-icon,
.close-modal-button:focus .close-modal-button-icon {
  stroke: $accentColor;
}

@media (min-width: 768px) {
  .close-modal-button {
    top: 16px;
    right: 16px;
  }

  .close-modal-button-icon {
    height: 24px;
    width: 24px;
  }
}

@media (min-width: 1280px) {
  .close-modal-button-icon {
    transition: stroke $cubic-bezier, transform $cubic-bezier;
  }

  .close-modal-button:hover .close-modal-button-icon,
  .close-modal-button:focus .close-modal-button-icon {
    transform: rotate(180deg);
  }
}

.modal-recipe-video-wrapper {
  position: relative;
}

.modal-recipe-video-youtube-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-recipe-video-youtube-svg {
  stroke: red;
  fill: red;
  cursor: pointer;
}

.modal-recipe-name-and-img {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;

  margin-bottom: 14px;
}

.modal-recipe-name {
  color: $primaryTextColor;
  font-size: 18px;
  font-weight: 600;
  line-height: 122.22%;
  text-transform: uppercase;
}

.modal-recipe-img {
  height: 295px;

  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.4) 0%,
      rgba(5, 5, 5, 0.4) 100%
    ),
    url('../images/pizza.png'), lightgray -34.64px -20px / 109.993% 120%;

  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
}

@media (min-width: 768px) {
  .modal-recipe-img {
    width: 467px;
    height: 250px;
  }

  .modal-recipe-name-and-img {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
}

.modal-recipe-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .modal-recipe-info {
    margin-bottom: 16px;
    justify-content: space-between;
    gap: 10px;
  }
}

.modal-recipe-info-tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.modal-recipe-info-tag-item {
  color: $primaryTextColor;
  font-size: 12px;

  font-weight: 500;
  line-height: 116.667%;

  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 35px;
  border: 1px solid $borderColor;
}

.modal-recipe-info-no-tag-item {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  line-height: 128.571%;
}

.modal-recipe-info-rating {
  display: flex;
  align-items: center;
}

.modal-rating-body {
  display: flex;
  position: relative;
  height: 18px;
  width: 90px;
}

.modal-rating-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.modal-rating-disabled::before {
  content: "★★★★★";
    display: block;
    color: rgba(5, 5, 5, 0.10);
}

.modal-rating-active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #EEA10C;
}

.modal-rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.modal-recipe-info-rating-points {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 128.57%;

  margin-right: 6px;
}

.modal-recipe-info-rating-stars-list {
  display: flex;
  gap: 1px;
  margin-right: 8px;
}

.modal-recipe-info-rating-star-svg {
  width: 18px;
  height: 18px;
  fill: $starsColor;
}

.modal-recipe-info-cooking-time {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 128.57%;

  min-width: 10px;
}

.modal-recipe-ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .modal-recipe-ingredient-list {
    margin-bottom: 32px;
  }
}

.modal-recipe-ingredient-item {
  display: flex;
  justify-content: space-between;

  padding-bottom: 6px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
}

.modal-recipe-ingredient-item-name {
  color: $primaryTextColor;
  font-size: 14px;
  line-height: 128.57%;
}

.modal-recipe-ingredient-item-quantity {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  line-height: 128.57%;
}

.modal-recipe-cooking-description {
  color: rgba(5, 5, 5, 0.8);
  font-size: 14px;
  line-height: 128.57%;

  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .modal-recipe-cooking-description {
    margin-bottom: 32px;
  }
}

.modal-recipe-button-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.modal-recipe-button {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: none;
}

.modal-recipe-add-button {
  color: #f8f8f8;
  background-color: $accentColor;
  outline: 1px solid $accentColor;
  transition: background-color $cubic-bezier, color $cubic-bezier;
}

.modal-recipe-add-button:hover,
.modal-recipe-add-button:focus {
  // background-color: transparent;
  color: $primaryTextColor;
}

.modal-recipe-rating-button {
  color: $primaryTextColor;
  background-color: transparent;
  outline: 1px solid $accentColor;
  transition: background-color $cubic-bezier, color $cubic-bezier;
}

.modal-recipe-rating-button:hover,
.modal-recipe-rating-button:focus {
  background-color: $accentColor;
  color: #f8f8f8;
}

@media (min-width: 768px) {
  .modal-recipe-button {
    padding: 14px 28px;
  }
}
